@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.image-header {
  background-image: url("/media/boda.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  content: " ";
  width: 100%;
  transition: height 1s;
}

.courtain {
  position: relative;
  content: " ";
  width: 100%;
  transition: height 1s;
  background-color: black;
  opacity: 0.2;
}

.btn {
  padding: 0.45rem;
  border: 1px transparent;
  border-radius: 30px;
  min-width: 250px;
}

.btn:hover {
  cursor: pointer;
}

@keyframes color-form {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*+  button form  +*/

.btn-form {
  color: white;
  font-weight: bold;
  background: rgb(255, 197, 143);
  background: linear-gradient(
    90deg,
    rgba(255, 197, 143, 1) 0%,
    rgba(253, 62, 152, 1) 100%
  );
  background-size: 300% 300%;
  animation: color-form 9s infinite;
}

.btn-form > .btn-content {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #000;
  border: 1px transparent;
  border-radius: 30px;
}

.btn-form > .btn-content > .btn-text {
  background: rgb(255, 197, 143);
  background: linear-gradient(
    90deg,
    rgba(255, 197, 143, 1) 0%,
    rgba(253, 62, 152, 1) 100%
  );
  background-size: 300% 300%;
  animation: color-form 9s infinite;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn-form:hover > .btn-content {
  background-color: transparent;
}

.btn-form:hover > .btn-content > .btn-text {
  background: transparent;
  color: white;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  -moz-background-clip: border-box;
  -moz-text-fill-color: white;
}

/*+  button form  +*/

.btn-game {
  color: white;
  font-weight: bold;
  background: rgb(255, 139, 250);
  background: linear-gradient(
    90deg,
    rgba(255, 139, 250, 1) 0%,
    rgba(0, 161, 220, 1) 100%
  );
  background-size: 300% 300%;
  animation: color-form 9s infinite;
}

.btn-game > .btn-content {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #000;
  border: 1px transparent;
  border-radius: 30px;
}

.btn-game > .btn-content > .btn-text {
  background: rgb(255, 139, 250);
  background: linear-gradient(
    90deg,
    rgba(255, 139, 250, 1) 0%,
    rgba(0, 161, 220, 1) 100%
  );
  background-size: 300% 300%;
  animation: color-form 9s infinite;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn-game:hover > .btn-content {
  background-color: transparent;
}

.btn-game:hover > .btn-content > .btn-text {
  background: transparent;
  color: white;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  -moz-background-clip: border-box;
  -moz-text-fill-color: white;
}
